.linkshowpok {
  text-decoration: none;
}

.pHome {
  margin: 1px 1px;
  font-size: 1.6em;
}

.cajasloadpok {
  width: 300px;
  height: 500px;
  border-radius: 50px;
  background-color: #131b26bd;
  margin: 15px;
  text-align: center;
  transition: 1s;
}

.cajasloadpok:hover {
  height: 510px;
  width: 300px;
  border-radius: 90px;
  background-color: #131b26b6;
  border: transparent;
  color: #000000;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.6);
}

.colorname {
  color: #f4f275;
  background-color: #131b26e4;
  /* border: 2px solid rgb(227, 241, 137); */
  border-radius: 100px;
  margin: 1px;
  padding: 20px;
}
.colortype {
  margin: 7px;
  border-radius: 20px;
  padding: 8px 8px;
  background-color: #131b26b0;
  /* border: 2px solid rgb(137, 160, 241); */
  color: #fffd79;
}

.showImagen {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.cajasloadpokFav {
  width: 300px;
  height: 500px;
  border-radius: 50px;
  background-color: #131b26bd;
  margin: 15px;
  text-align: center;
  transition: 1s;
}
.cajasloadpokFav:hover {
  height: 510px;
  width: 300px;
  border-radius: 90px;
  background-color: #131b26b6;
  border: transparent;
  color: #000000;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.6);
}

.colornameFav {
  color: #f47575;
  background-color: #131b26e4;
  /* border: 2px solid rgb(227, 241, 137); */
  border-radius: 100px;
  margin: 1px;
  padding: 20px;
}
.colortypeFav {
  margin: 7px;
  border-radius: 20px;
  padding: 8px 8px;
  background-color: #131b26b0;
  /* border: 2px solid rgb(137, 160, 241); */
  color: #f47575;
}

.showImagenFav {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
  margin-top: 20px;
}
