.foto {
  background: url("https://images7.alphacoders.com/661/661986.jpg") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gridcontainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
  justify-content: center;
  background-color: #cccccc00;
  padding: 20px;
  width: 80%;
  margin: auto;
  font-size: 28px;
}

.divVacio {
  height: 14.5em;
}

.nombre {
  border: 1.5px solid #fdfdfd;
  background-color: #f8a8a85a;
  color: #f24242;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding-left: 10px;
  text-align: left;
  margin: 5px;
  font-weight: 900;
  border-radius: 20px;
}
.nombre span {
  font-size: 20px;

  font-weight: 900;
}
.nombre input {
  font-size: 20px;
  background-color: #e7212142;
  transition: 2s;
}

.subMitbuttomform {
  border: 1px solid #ffffff;
  background-color: #f8a8a85a;
  color: #f24242;
  border-radius: 10px;
  padding: 4px 8px;
  font-size: 30px;
  cursor: pointer;
}

.subMitbuttomform:hover {
  background-color: #fb767636;
}

@media screen and (max-width: 561px) {
  .gridcontainer {
    font-size: 14px;
  }
  .nombre input {
    font-size: 15px;
  }
  .subMitbuttomform {
    font-size: 50;
  }
}
@media screen and (max-width: 412px) {
  .gridcontainer {
    font-size: 10px;
  }
  .nombre input {
    font-size: 12px;
  }
}
@media screen and (max-width: 375px) {
  .gridcontainer {
    font-size: 9px;
    width: 10%;
  }
  .nombre input {
    font-size: 9px;
  }
  .subMitbuttomform {
    font-size: 50;
  }
  .foto {
    width: 28em;
  }
}
.multiselect {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  width: 100%;
  background-color: #f8a8a85a;
  color: #f24242;
}

.multiselect-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;

  cursor: pointer;
}

.multiselect-options {
  display: none;
  margin: 7px;
  background-color: #fbfbfb00;
  list-style: none;
  flex-wrap: wrap;
  width: 100%;
}

.multiselect-options input[type="checkbox"]:checked + label:before {
  content: "✔";
  font-weight: bold;
  font-size: 14px;
  color: #0077cc;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
}

.multiselect-options input[type="checkbox"] {
  margin-right: 8px;
}

.multiselect-options label {
  float: left;
  width: auto;
  margin-top: 10px;
  margin-right: 12px;
  margin-bottom: 3px;
  padding: 8px;
  border: 1px solid #ffffff;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.multiselect-options label:hover {
  background-color: #f24242;
}

.multiselect-options.open {
  display: block;
}
