.detailDiv {
  border: 1px solid #000000;
  background-color: rgb(201, 201, 201);
  padding: 1em 0em 1em 1em;
  font-size: 1em;
}

.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://wallpaperaccess.com/full/4046664.jpg");
  background-size: cover;
  background-position: center;
}

.rightDetail {
  padding: 0em 1em 0em 30em;
}
