.conteiner {
  display: flex;
  justify-content: center;
}

.detailDiv {
  display: inline-block;
  margin-top: 60px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: yellow;
  background-color: rgba(54, 70, 40, 0.299);
  height: 80%;
}

/* El css de aca para abajo es exactamente igual uno del otro, solo tienen nombres y colores distinto
   esto para que cada tipo tenga su propio color*/

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.grass {
  display: inline-block;
  margin-top: 60px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: rgb(114, 231, 132);
  background-color: rgba(55, 84, 30, 0.299);
  height: 80%;
}

.grass h3 {
  background-color: rgba(55, 84, 30, 0.299);
  display: flex;
}

.grass {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  background-color: rgba(17, 74, 57, 0.433);
}

@media (min-width: 768px) {
  .grass {
    padding: 40px;
    text-align: left;
  }

  .rightDetail {
    float: right;
    margin: 20px 0 0 20px;
    max-width: 50%;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.fire {
  display: inline-block;
  margin-top: 60px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: rgb(243, 102, 70);

  height: 80%;
}

.fire h3 {
  background-color: rgba(190, 116, 116, 0.288);
  display: flex;
}

.fire {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  background-color: rgba(150, 11, 11, 0.255);
}

@media (min-width: 768px) {
  .fire {
    padding: 40px;
    text-align: left;
  }

  .rightDetail {
    float: right;
    margin: 20px 0 0 20px;
    max-width: 50%;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.normal {
  display: inline-block;
  margin-top: 60px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #fffd79;
  height: 80%;
}

.normal h3 {
  background-color: #fffd7941;
  display: flex;
}

.normal {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  background-color: #131b26bd;
}

@media (min-width: 768px) {
  .normal {
    padding: 40px;
    text-align: left;
  }

  .rightDetail {
    float: right;
    margin: 20px 0 0 20px;
    max-width: 50%;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.fighting {
  display: inline-block;
  margin-top: 60px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: rgb(240, 158, 44);
  height: 80%;
}

.fighting h3 {
  background-color: rgba(168, 140, 100, 0.379);
  display: flex;
}

.fighting {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  background-color: rgba(163, 90, 26, 0.433);
}

@media (min-width: 768px) {
  .fighting {
    padding: 40px;
    text-align: left;
  }

  .rightDetail {
    float: right;
    margin: 20px 0 0 20px;
    max-width: 50%;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Ninguno tiene como principal volador, aun asi lo dejo por si en futuro al agregar pokemons, haya 
   quienes tengan como principal volador */
/*.flying {
  display: inline-block;
  margin-top: 60px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: rgb(232, 172, 90);
  background-color: rgba(246, 104, 104, 0.299);
  height: 80%;
}

.flying h3 {
  background-color: rgba(246, 177, 81, 0.579);
  display: flex;
}

.flying {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  background-color: rgba(213, 91, 91, 0.433);
}

@media (min-width: 768px) {
  .flying {
    padding: 40px;
    text-align: left;
  }

  .rightDetail {
    float: right;
    margin: 20px 0 0 20px;
    max-width: 50%;
  }
}*/

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.poison {
  display: inline-block;
  margin-top: 60px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: rgb(195, 132, 237);
  height: 80%;
}

.poison h3 {
  background-color: rgba(55, 8, 86, 0.321);
  display: flex;
}

.poison {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  background-color: rgba(86, 30, 124, 0.321);
}

@media (min-width: 768px) {
  .poison {
    padding: 40px;
    text-align: left;
  }

  .rightDetail {
    float: right;
    margin: 20px 0 0 20px;
    max-width: 50%;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.ground {
  display: inline-block;
  margin-top: 60px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: rgb(151, 88, 12);
  height: 80%;
}

.ground h3 {
  background-color: rgba(108, 82, 55, 0.358);
  display: flex;
}

.ground {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  background-color: rgba(174, 100, 25, 0.221);
}

@media (min-width: 768px) {
  .ground {
    padding: 40px;
    text-align: left;
  }

  .rightDetail {
    float: right;
    margin: 20px 0 0 20px;
    max-width: 50%;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.rock {
  display: inline-block;
  margin-top: 60px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: rgb(207, 134, 0);
  height: 80%;
}

.rock h3 {
  background-color: rgba(246, 217, 163, 0.221);
  display: flex;
}

.rock {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  background-color: rgba(131, 94, 24, 0.388);
}

@media (min-width: 768px) {
  .rock {
    padding: 40px;
    text-align: left;
  }

  .rightDetail {
    float: right;
    margin: 20px 0 0 20px;
    max-width: 50%;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.bug {
  display: inline-block;
  margin-top: 60px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: rgb(154, 228, 136);
  height: 80%;
}

.bug h3 {
  background-color: rgba(55, 125, 38, 0.299);
  display: flex;
}

.bug {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  background-color: rgba(153, 232, 133, 0.299);
}

@media (min-width: 768px) {
  .bug {
    padding: 40px;
    text-align: left;
  }

  .rightDetail {
    float: right;
    margin: 20px 0 0 20px;
    max-width: 50%;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.ghost {
  display: inline-block;
  margin-top: 60px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: rgb(59, 0, 114);
  height: 80%;
}

.ghost h3 {
  background-color: rgba(200, 136, 255, 0.353);
  display: flex;
}

.ghost {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  background-color: rgba(184, 115, 248, 0.315);
}

@media (min-width: 768px) {
  .ghost {
    padding: 40px;
    text-align: left;
  }

  .rightDetail {
    float: right;
    margin: 20px 0 0 20px;
    max-width: 50%;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.water {
  display: inline-block;
  margin-top: 60px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: rgb(109, 148, 247);
  height: 80%;
}

.water h3 {
  background-color: rgba(22, 54, 135, 0.303);
  display: flex;
}

.water {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  background-color: rgba(61, 95, 187, 0.215);
}

@media (min-width: 768px) {
  .water {
    padding: 40px;
    text-align: left;
  }

  .rightDetail {
    float: right;
    margin: 20px 0 0 20px;
    max-width: 50%;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.electric {
  display: inline-block;
  margin-top: 60px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: rgb(253, 244, 0);
  height: 80%;
}

.electric h3 {
  background-color: rgba(252, 246, 58, 0.336);
  display: flex;
}

.electric {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  background-color: rgba(244, 240, 133, 0.319);
}

@media (min-width: 768px) {
  .electric {
    padding: 40px;
    text-align: left;
  }

  .rightDetail {
    float: right;
    margin: 20px 0 0 20px;
    max-width: 50%;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.psychic {
  display: inline-block;
  margin-top: 60px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: rgb(241, 137, 227);
  height: 80%;
}

.psychic h3 {
  background-color: rgba(255, 0, 221, 0.278);
  display: flex;
}

.psychic {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  background-color: rgba(167, 77, 155, 0.19);
}

@media (min-width: 768px) {
  .psychic {
    padding: 40px;
    text-align: left;
  }

  .rightDetail {
    float: right;
    margin: 20px 0 0 20px;
    max-width: 50%;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.ice {
  display: inline-block;
  margin-top: 60px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: rgb(90, 178, 232);
  height: 80%;
}

.ice h3 {
  background-color: rgba(53, 145, 203, 0.263);
  display: flex;
}

.ice {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  background-color: rgba(8, 160, 255, 0.175);
}

@media (min-width: 768px) {
  .ice {
    padding: 40px;
    text-align: left;
  }

  .rightDetail {
    float: right;
    margin: 20px 0 0 20px;
    max-width: 50%;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.dragon {
  display: inline-block;
  margin-top: 60px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: rgb(156, 113, 241);
  height: 80%;
}

.dragon h3 {
  background-color: rgba(81, 0, 242, 0.214);
  display: flex;
}

.dragon {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  background-color: rgba(51, 1, 152, 0.219);
}

@media (min-width: 768px) {
  .dragon {
    padding: 40px;
    text-align: left;
  }

  .rightDetail {
    float: right;
    margin: 20px 0 0 20px;
    max-width: 50%;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
